.formulario {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.opcion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.tamanos button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 16px;
}
.tamanos button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
.tamanos button.activo {
    background: #006666;
    color: white;
}

.total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.opcion {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.opcion input {
    display: none; /* Oculta el checkbox */
}

.opcion .slider {
    position: relative;
    cursor: pointer;
    width: 40px; /* Ancho del toggle */
    height: 20px; /* Alto del toggle */
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin-right: 10px; /* Espacio entre el toggle y el texto */
}

.opcion input:checked + .slider {
    background-color: #006666; /* Color cuando está activo */
}

.opcion .slider:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 2px; /* Posición inicial del círculo */
    width: 16px; /* Ancho del círculo */
    height: 16px; /* Alto del círculo */
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateY(-50%);
}

.opcion input:checked + .slider:before {
    transform: translate(20px, -50%); /* Mueve el círculo a la derecha */
}

.opcion .texto {
    font-size: 16px; /* Tamaño del texto */
}
